body {
  font-family: Arial, sans-serif;
  background-color: #eef2f1;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
}

header {
  background-color: #002f6d;
  color: white;
  padding: 20px;
}



.battlefield {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

#gorila {
  width: 120px;
}

.humanos-container img {
  width: 40px;
  height: 40px;
  margin: 2px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.humanos-container img.morto {
  opacity: 0.3;
  filter: grayscale(100%);
}

#gorila.ataque-gorila {
  animation: gorilaAvancaVolta 0.4s ease forwards;
}

@keyframes gorilaAvancaVolta {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50px); }
  100% { transform: translateX(0); }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002f6d;
    padding: 15px;
    height: 10vh;
    width: auto;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #eef2f1;
}

