body {
  font-family: Arial, sans-serif;
  background-color: #eef2f1;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
}

header {
  background-color: #002f6d;
  color: white;
  padding: 20px;
}

.battlefield {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

#gorila {
  width: 120px;
}

.humanos-container img {
  width: 40px;
  height: 40px;
  margin: 2px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.humanos-container img.morto {
  opacity: 0.3;
  filter: grayscale(100%);
}


#gorila.ataque-gorila {
  animation: gorilaAvancaVolta 0.4s ease forwards;
}

.controls {
  margin: 20px;
}

.controls button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.log-section {
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: auto;
  text-align: left;
  border-radius: 20px;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  gap: 30px;
}

.status-gorila,
.status-humanos {
  flex: 1;
  max-width: 300px;
}

.barra-container {
  margin-bottom: 15px;
  font-family: sans-serif;
}

.barra-externa {
  background-color: #000000;
  width: 100%;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
}

.barra-interna {
  height: 100%;
  background-color: green;
  width: 100%;
  transition: width 0.3s ease;
}

.barra-interna.energia {
  background-color: orange;
}

.barra-interna.humanos {
  background-color: red;
}

.status-gorila,
.status-humanos {
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}

.status-gorila {
  background-color: #ffffff;
}

.status-humanos {
  background-color: #ffffff;
}

.barra-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002f6d;
    padding: 15px;
    height: 10vh;
    width: auto;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #eef2f1;
}

@keyframes gorilaAvancaVolta {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50px); }
  100% { transform: translateX(0); }
}
